.ProviderDashboard{
    display: flex;
    flex-direction: column;
    gap:25px;
    /* justify-content:space-around ; */
    margin-left: 15px;
}
.ProviderDashboard div{
    padding: 10px;
    border: 1px solid grey;
    border-radius: 7px;
    box-shadow: 5px 5px #888888;
}
.ProviderDashboard div:hover{
  background-color: #7d7d7d;
}